{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">


    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'modules/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{% static 'modules/bootstrap-social/bootstrap-social.css' %}">

    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>

    <!-- /END GA -->
</head>

<body>

    {% block content %}

    {% endblock %}
    <script>
        $(document).ready(function () {
            $('#tabel-data').DataTable();
        });
    </script>

    <script src="{% static 'modules/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/page/modules-datatables.js' %}"></script>
    <script src="{% static 'modules/popper.js' %}"></script>
    <script src="{% static 'modules/tooltip.js' %}"></script>
    <script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'modules/moment.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/stisla.js' %}"></script>

    <!-- JS Libraies -->

    <!-- Page Specific JS File -->

    <!-- Template JS File -->

</body>

</html>